<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="../LogoMakr_1f3bcD.png" width="270" height="60"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!">"TicTacToe"</a></li>
        <li><a href="#!">"MCLA Racer"</a></li>
        <li><a href="#!">"About"</a></li>"
        <li><a href="#!">"User Profile"</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#!">HTML5</a></li>
        <li><a href="#!">CSS3</a></li>
        <li><a href="#!">Material Design</a></li>
        <li><a href="#!">Bootstrap 4</a></li>
      </ul>
    </div>
</nav>

<script type="text/javascript">
	 $(".button-collapse").sideNav();
</script>