.backR{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-chinese-style-fresh-bamboo-forest-background-material-forestgreenchinese-styleposter-backgroundbackground-image_52352.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
 }

 