*,*::after, *::before{
    box-sizing: border-box;
}
:root {
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*.7);
    /* this makes the preview marks 90% of the cell size it edits the width of your dot or dash */
}

/* Navbar */
.shadow, #gamesBtn, #videoBtn, #aboutUs, #log-in{
    position: relative;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1) inset;
}

.shadow::before,
.shadow::after{
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px  rgb(0, 0, 0, 0.8);
}

h1{

    text-align: center;
    font-size: 75px;
    font-weight: 100;
    align-content: center;
    
}

body{
    margin:auto;
    
}
/* baord */
.BoardOne{
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4,auto);
    /* this resizes the grid and makes all the cells automatically evenly sized */
}
.cellBOne{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cellBOne.dash::before{
    content: "";
    width: calc(var(--mark-size)*.20);
    /* controls the height of the dashes */
    transform: rotate(90deg);
    height: var(--mark-size);
    background-color: rgb(8, 8, 8);
    /* controls how the dash look */
    position: relative;
    
}

.cellBOne.circle::before{
    content: "";
    position: absolute;
    width: calc(var(--mark-size)*1.2);
    /* controls the height of the cricles */
    /* transform: rotate(90deg); */
    height: calc(var(--mark-size)*1.2);
    background-color: rgb(8, 8, 8);
    /* controls how the circle looks */
    border-radius: 50%;
}

.cellBOne.square::before{
    content: "";
    position: absolute;
    width: calc(var(--mark-size)*1);
    /* controls the height of the cricles */
    /* transform: rotate(90deg); */
    height: calc(var(--mark-size)*1.1);
    background-color: rgb(22, 155, 172);
    /* controls how the circle looks */
    border-radius: 20%;
   
    
}

.cellBOne.circle,
.cellBOne.dash,
.cellBOne.square{
    cursor: not-allowed;
   
}

.custom-cur {
    cursor: url('/images/chef.svg');
  }
/* preventing hovering over cells that are already filled, how to get dash or circle shaped hovers */
.cellBOne:hover{
    background-color: rgb(174, 183, 192);
}

#buttonChoice{
    height:fit-content;
    width: fit-content;
    position: relative;
    margin-top: 0%;
    justify-content: space-evenly;

}

#circleButton,
#squareButton,
#dashButton{
    width: 93.31px;
    position: relative;
   
}

.circle {
    border-radius: 0%;
}

#bG{
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    max-width: 750px;
    margin: auto;
    flex-direction: column;
 }
 #bg>#h1TTT{
     width: 100px;
     flex-wrap: nowrap;
 }

 #section1{
    background-image: url(https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
#displayBox{
    font-weight: bold;
    width:fit-content ;
    
   
   
    /* word-spacing: 2rem; */
}
#displayBox.centered li{
    list-style-position: outside;
    justify-content: flex-start;
    padding-right: 2rem;
    list-style-image:url(assets/pictures/air-balloon-line-black-icon-png_309115.jpg);
     
    border: 1rem;
    border-color: black;
    
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }



/* 

#coverBox{
    margin-top: -10%;
    max-width: fit-content;
    height: 600px;
    display: inline-flex;
   
 }

 .btn.navbuttons {
    font-family: 'Amatic SC', cursive;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1.5rem;
    border-radius: .10rem;
    margin-right: 1rem;
    font-stretch: expanded;
    height: fit-content;
 }
 
 
 #displayBox{
    max-width: 130px;
    border-color:black ;
    color: black;
    border: 1px solid #212529!important;
    font-size: large;
    
    text-align: center;
    margin-top: 10% !important;
    margin-left: 20%;
    display: block;
    position: static;
    height: fit-content;
    display: flex-block;
    align-items: center;
    justify-content: center;

    
 }


 #BoardOne{
     padding-left: 0px;
     padding-right: 0px;
     position: static;
     margin-top: 5%;
     

 }
 #maxH{
     max-height: 745px;
     margin-top: 10%;
 }

 #h1TTT{
   max-height: 175px;
   position:relative;
   margin-top:5%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%;

}


#middle{
        position: absolute;
        left:5%;
        right:50%;
        top: 50%;
        width: 600px;
        margin-left: -300px;
        margin-top: 280px;
        text-align: center;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
    }




@media (min-width: 950px) {
    #buttonChoice,
    #middle  {
        margin-left: 8.7%;

    }
@media (max-width: 1094px) {
        #buttonChoice,
        #middle  {
            margin-left: 8.7%;
    
        } */ */

/* media  */
/* @media (max-width: 850px) {
    #displayBox h1 {
        font-weight: 75;
        font-size: 2rem;
       
    }
    .blurb h2 {
        font-size: 2rem;
    }
    #coverBox{
        width: 750px;
        height:745px
    }
    #buttonChoice{
        margin-top: 30%;
        position: absolute;
        
        
    }
}

@media (min-width: 576px)
.col-sm-1 {
    
@media (min-width: 768px){
    .container {
    max-width: 700px;
}

}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0px;
    margin-left: 0px;
} */

/* #backR1216px max-min then reduce margin left side */