*,*::after, *::before{
    box-sizing: border-box;
}
:root {
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*.7);
    /* this makes the preview marks 90% of the cell size it edits the width of your dot or dash */
}

h1{
    margin-top: 100px;
    text-align: center;
    font-size: 75px;
    font-weight: 100;
}

body{
    margin:0;
}

.BoardOne{
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
    /* this resizes the grid and makes all the cells automatically evenly sized */
}
.cellBOne{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    
}
.cellBOne:first-child,
.cellBOne:nth-child(2),
.cellBOne:nth-child(3){
    border-top: none;
}

.cellBOne:nth-child(3n+1){
    border-left: none;
}

.cellBOne:nth-child(3n+3){
    border-right: none;
}

.cellBOne:last-child,
.cellBOne:nth-child(8),
.cellBOne:nth-child(7){
    border-bottom: none;
}

.cellBOne.dash::before{
    content: "";
    width: calc(var(--mark-size)*.20);
    /* controls the height of the dashes */
    transform: rotate(90deg);
    height: var(--mark-size);
    background-color: rgb(8, 8, 8);
    /* controls how the dash look */
    position: relative;
    display: none;
}


.cellBOne.circle::before{
    content: "";
    position: absolute;
    width: calc(var(--mark-size)*1.2);
    /* controls the height of the cricles */
    /* transform: rotate(90deg); */
    height: calc(var(--mark-size)*1.2);
    background-color: rgb(8, 8, 8);
    /* controls how the circle looks */
    border-radius: 50%;
    display: none;
    
}

.cellBOne.circle,
.cellBOne.dash{
    cursor: not-allowed;
   
}

/* preventing hovering over cells that are already filled, how to get dash or circle shaped hovers */
.cellBOne:hover{
    background-color: rgb(174, 183, 192);
}


