*,*::after, *::before{
    box-sizing: border-box;
}
:root {
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*.9);
    /* this makes the preview marks 90% of the cell size */
}

body{
    margin:0;
}

.BoardOne{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
    /* this resizes the grid and makes all the cells automatically evenly sized */
}
.cellBOne{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cellBOne:first-child,
.cellBOne:nth-child(2),
.cellBOne:nth-child(3){
    border-top: none;
}

.cellBOne:nth-child(3n+1){
    border-left: none;
}

.cellBOne:nth-child(3n+3){
    border-right: none;
}

.cellBOne:last-child,
.cellBOne:nth-child(8),
.cellBOne:nth-child(7){
    border-bottom: none;
}

.cellBOne.x::before,
.cellBOne.x::after{
    content: "";
    width: calc(var(--mark-size)*.15);
    rotate: 90deg;
    height: var(--mark-size);
    background-color: rgb(8, 8, 8);
    
}