*,*::after, *::before{
    box-sizing: border-box;
}

body{
    margin:0;
}

.BoardOne{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
    /* this resizes the grid and makes all the cells automatically evenly sized */
}
.cellBOne{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 1px solid;
}