html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
}

.links {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 45px;
}

#text {
    max-height: 64px;
    padding-left: 10px;
}

.iframeC{
    padding-left: 80px;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 20px  rgb(0, 0, 0, 0.8);
}

.shadow,#raceNav{
    position: relative;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1) inset;
}

.shadow::before,
.shadow::after{
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px  rgb(0, 0, 0, 0.8);
}
