html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
}

.links {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 30px;
}

#text {
    max-height: 64px;
   
}

.iframeC{
    padding-left: 80px;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 20px  rgb(0, 0, 0, 0.8);
}

.shadow, #raceNav{
    position: relative;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1) inset;
}

.shadow::before,
.shadow::after{
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px  rgb(0, 0, 0, 0.8);
}

.shadow {
    position: relative;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1) inset;
}

.shadow::before,
.shadow::after{
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px  rgb(0, 0, 0, 0.8);
}

#raceNav{
    font-family: 'Amatic SC', cursive;
    word-spacing: 1rem;
    padding: 0rem;
    
}

a:link, a:visited{
    color: white;
    font-size:25px ;
}

#navTTT{
    padding: 0rem;
}
#footer {
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.342), 0 0 40px rgba(0, 0, 0, 0.192) inset;
    box-shadow: 0 0 20px  rgb(0, 0, 0, 0.8);
    font-family: 'Amatic SC', cursive;
 }